<style>
  #gatetable{
      margin-bottom: 20%;
      margin-top: 5%;
  }
</style>
<table id="gatetable" class="table table-bordered table-striped text-align-center-app-config">
  <thead class="datatable-thead-app-config">
  <th>Email</th>
  <th>Student's Status</th>
  <th>Edit</th>
  <th>Total Papers</th>

  <!--      <th>MTD Vol</th>-->
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%=user.email %></td>
      <td><%=user.is_block? ? 'Active' : 'Not Active'  %></td>
      <td>
        <%= link_to student_path(id: user.id), method: :patch ,'data-original-title':'Detail', class: 'cutom_tootltip pull-right detail-btn' do %>
          <%=user.is_block? ? 'Block This User' : 'UnBlock this User'  %>

        <% end %>

      </td>
      <td>
        <%count= UserAnswer.where(user_id:user.id).pluck(:paper_id).try(:uniq) %>

        <% if count.present? %>
        <%= link_to student_paper_students_path(id: user.id), method: :get ,'data-original-title':'Detail', class: 'cutom_tootltip pull-right detail-btn' do %>
            <%= count.try(:count) %>
        <% end %>
        <% else %>
          <%= count.try(:count) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>
