<style>
    .col-md-12{
        max-width: 95%;
    }
    .form-inline{
        margin-top: 2%;
        margin-bottom: 20%;
    }
</style>
<%= form_for @paper, url: {controller: "papers", action: "update"} do |f| %>
<%#= nested_form_for @paper,url: {controller: "papers", action: "create"}, method: :post, html: {class: "form-inline",autocomplete:"off",id:"paper_form"} do |f| %>
  <!--    , html:{id: :agentform, onsubmit:"disableButton('agentform','submit_edit_button1')"}-->

  <div class="abcd">
    <div class="col-md-12">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="id">Paper Title</label>
          <%= f.text_field :subject,class:"form-control" %>
          <%#= f.hidden_field :id,class:"form-control" %>

          <input type="hidden" name='paper_id' value="<%= f.object.id %>">

        </div>


      </div>


    </div>
    <div class="col-md-12" s>
      <input type="hidden" id="total_count" value="<%= @paper.try(:questions).try(:count) %>">
      <% @paper.questions.each_with_index  do |q,i| %>
<!--      <div class="row">-->
        <div class="form-group col-md-4">
          <label for="id">Question <%= i+1 %>:</label>
          <input type="text" name='questions[<%=i %>]name' value="<%= q.name %>" class="form-control">
          <input type="hidden" name='questions[<%=i %>]id' value="<%= q.id %>" class="form-control">

        </div>
        <% multi=q.multiple_choice %>
        <% if multi.present?%>
          <div class="row">
        <div class="form-group col-md-4">
          <label for="id">Option A</label>
          <input type="text" name='multiple_choices[<%=i %>][option_a]' value="<%= multi.option_a %>" class="form-control" >
          <input type="hidden" name='multiple_choices[<%=i %>]id' value="<%= multi.id %>" class="form-control">

        </div>
        <div class="form-group col-md-4">
          <label for="id">Option B</label>
          <input type="text" name='multiple_choices[<%=i %>][option_b]' value="<%= multi.option_b %>" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="id">Option C</label>
          <input type="text" name='multiple_choices[<%=i %>][option_c]' value="<%= multi.option_c %>" class="form-control">
        </div>
          </div>
          <div class="row">
        <div class="form-group col-md-4">
          <label for="id">Option D</label>
          <input type="text" name='multiple_choices[<%=i %>][option_d]' value="<%= multi.option_d %>" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="id">Option E</label>
          <input type="text" name='multiple_choices[<%=i %>][option_e]' value="<%= multi.option_e %>" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="id">Correct Option</label>
          <input type="text" name='multiple_choices[<%=i %>][correct_option]' value="<%= multi.correct_option %>" class="form-control">
        </div>
          </div>

<!--      </div>-->
    <% end %>
    <% end %>

    </div>

    <!--<div class="col-md-12">-->



  </div>
  <div class="row">
    <div class="col-md-12">
      <span id="more_question">Add More Question +</span><br>
      <!--  </div>-->
    </div>
    <!-- </div>-->
    <br>
    <br>
    <!--   <div class="row">-->
    <div class="col-md-12">
      <%= submit_tag "Update" , class:'btn btn-primary' %>
    </div>
  </div>
<% end %>



<script>


    var counter=parseInt($('#total_count').val());
    counter=counter-1
    $('#more_question').on('click',function () {
        debugger
//           document.getElementById('my_file'+counter).click();
        counter=counter+1
        if(counter!=0){
            // $('.abcd').append(' <input type="text" name="paper[subject]['+counter+']"><br>'+
            //     ' <input type="text" name="questions[name]['+counter+']"><br>'+
            // ' <input type="text" name="multiple_choices[option_a]['+counter+']"><br>' +
            // '    <input type="text" name="multiple_choices[option_b]['+counter+']"><br> ' +
            // '   <input type="text" name="multiple_choices[option_c]['+counter+']"><br>' +
            // '   <input type="text" name="multiple_choices[option_d]['+counter+']"><br> ' +
            // '   <input type="text" name="multiple_choices[option_e]['+counter+']"><br> '+
            // '   <input type="text" name="multiple_choices[correct_option]['+counter+']"><br>')




            $('.abcd').append('<div class="col-md-12"><div class="row"> '+
                ' <div class="form-group col-md-4"> <label for="id">Question '+counter+'</label> <input type="text" name="questions['+counter+'][name]"> </div> <div class="form-group col-md-4"> <label for="id">Option A</label> <input type="text" name="multiple_choices['+counter+'][option_a]"> </div> <div class="form-group col-md-4"><label for="id">Option B</label> <input type="text" name="multiple_choices['+counter+'][option_b]"></div> </div>   </div> ' +
                '<div class="col-md-12"><div class="row">  '+
                ' <div class="form-group col-md-4"> <label for="id">Option C</label> <input type="text" name="multiple_choices['+counter+'][option_c]"> </div> <div class="form-group col-md-4"> <label for="id">Option D</label> <input type="text" name="multiple_choices['+counter+'][option_d]"> </div>  <div class="form-group col-md-4"><label for="id">Option E</label> <input type="text" name="multiple_choices['+counter+'][option_e]"></div> </div>   </div> '+
                '<div class="col-md-12"><div class="row"> '+
                ' <div class="form-group col-md-4"> <label for="id">Correct Option</label> <input type="text" name="multiple_choices['+counter+'][correct_option]"> </div>  </div>   </div> ');
        }

    });
</script>